#IDE crap
.classpath
.factorypath
.name
.project
.idea
.settings
*.iml

#Maven transient folders
target
node_modules
dist
node
*.log

rethinkdb_data
mongodb
.env
key
tmp
aba-apps/character-skills/src/main/resources/application.yml
aba-apps/shopping-cart/src/main/resources/application.yml
