@import "~bootstrap-less/bootstrap/bootstrap";
@import "~font-awesome/less/font-awesome";
@import "~font-awesome/less/variables";
@import "~font-awesome/less/mixins";
@import "~font-awesome/less/path";
@import "~font-awesome/less/core";
@import "~font-awesome/less/icons";
@import "~font-awesome/less/list";
@import "~font-awesome/less/stacked";


/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}