@import "~font-awesome/less/font-awesome";
@import "~font-awesome/less/variables";
@import "~font-awesome/less/mixins";
@import "~font-awesome/less/path";
@import "~font-awesome/less/core";
@import "~font-awesome/less/icons";
@import "~font-awesome/less/list";
@import "~font-awesome/less/stacked";

.navigation {
    & .md-button {
        text-align: left;
        height: 100%;
        width: 99%;
    }
}
